SECRET_KEY="303diw7S2H9akwq72lGAKQ3M63m0Sa21"
COUNTRY_NAME="US"
STATE_OR_PROVINCE_NAME="Wisconsin"
LOCALITY_NAME="Brookfield"
ORGANIZATION_NAME="Hash Master 1000 Local"
COMMON_NAME="localhost"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD_HASH="$2b$12$eNKlXXTpqFIlXKEAvoUSaujC3MYUMnji4LDoftnnZMMRAwPMN.JkO" # "Winter2025##"
